.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1570356530391&di=82533a4a1e766896929a249c4c7a5a77&imgtype=0&src=http%3A%2F%2Ffile03.16sucai.com%2F2016%2F10%2F1100%2F16sucai_p20161022087_261.JPG);
  background-size: cover;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}

.row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
